doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Microblog
          .nav-collapse
            ul.nav
              li.active
                a(href="/") 首頁
              if loginStatus
                li
                  a(href="/login")登出
              else
                li
                  a(href="/login")登入
                li
                  a(href="/login")註冊
    #container.container
    block content
    hr
    footer
      p
        a(href="") 2016