extends layout

block content
  if !loginStatus
    .hero-unit
      h1 Welcome to Myblog
      p Myblog 是一個基於 Node.js 的社群系统。
      p
        a.btn.btn-primary.btn-large(href="/login")登入
        a.btn.btn-large(href="/reg")立即註冊
  else
    form.well.form-inline.center(method="post" action="/post" style="text-align:center;")
      input.span8(type="text" name="post")
      button.btn.btn-success(type="submit")
        i.icon-comment.icon-white
        |發言
  each person, i in post
    if i%2==0
      .row
    .span4
      h2
        a(href="/user/"+person.name) #{person.name}
        |&nbsp;say
      p #{person.msg}